</main>
<footer>
    <p>&copy; <%= new Date().getFullYear() %> AITU. All rights reserved.</p>
</footer>

<a href="https://forms.gle/35tYmEoKYwWQ93rq6" target="_blank" class="feedback-button">Feedback</a>

<% if (typeof customJs !== 'undefined' && customJs) { %>
    <script src="/js/<%= customJs %>.js"></script>
<% } %>
</body>
</html>