</main>
<footer>
    <p>&copy; <%= new Date().getFullYear() %> AITU Questions. All rights reserved.</p>
</footer>
<% if (locals.customJs) { %>
    <script src="/js/<%= customJs %>.js"></script>
<% } %>
</body>
</html>